.sinopsis {
  text-align: left;
  max-width: 100%;
}
.gray_text {
  color: dimgray;
}
.sinopsis_bottom_info {
  display: flex;
  flex-direction: column;
}
.loader {
  display: block;
  margin: "100px";
}
