body,
html {
  margin: 0, auto;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}

.form-control {
  font-size: 0.7rem;
}
.form-inline {
  width: 31em;
  justify-content: flex-end;
}
.form-inline .form-control {
  width: 80%;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.brand_name_bold {
  color: crimson;
  font-weight: 550;
  font-stretch: condensed;
  letter-spacing: -0.1rem;
}
.brand_name_regular {
  color: black;

  font-weight: 400;
  font-family: serif;
  letter-spacing: -0.08rem;
  padding-left: 0.1rem;
}
.brand_name_bold,
.brand_name_regular {
  font-size: 2em;
}
.sectionTitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 250;
  letter-spacing: 0.25rem;
  margin: 0;
  padding-top: 1rem;
}

.sliderImage:hover {
  transition: all 0.3s ease;
}

.sliderImage {
  -webkit-box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 3px 8px 0px rgba(0, 0, 0, 0.4);
  opacity: 1;
  display: block;
  width: 185px;
  height: 267px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 3%;
}

.containerImage {
  position: relative;
  padding: 1em;
  text-align: center;
}

.containerImage:hover .sliderImage {
  opacity: 0.3;
}

.titleDiv {
  color: #ecf0f1;
  display: inline-block;
}
